*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    place-items: center;
}

canvas{
    width: 600px;
    height: 600px;
    border: 10px solid rgb(165, 165, 165);
}