* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  border: 3px solid rgb(255, 255, 255);
  width: 800px;
  height: 700px;
  position: relative;
  background-color: #000;
}
